:root {
  --blue: #2a4dd0;
  --green: #4ca154;
  --black: #111729;
  --cinza-escuro: #223344;
  --cinza: #909193;
  --white: #ffffff;
  --dark-white: #f2f9fe;
  --poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
  list-style: none;
  font-size: 1.125rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5em;
  padding: 10px 20px 10px 20px;
}

nav ul {
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

nav ul > li {
  padding: 2em;
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--cinza);
}

nav ul > li:hover {
  color: var(--green);
  transition: 0.5s;
}

.web-mobile {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  z-index: 1;
  right: 0;
  margin-top: 44rem;
  width: 50vw;
  height: 100vh;
  animation: aparecer 3s;
}

@keyframes aparecer {
  0% {
    transform: translateX(100vh);
  }
  100% {
    transform: translateX(0);
  }
}

.hamburger {
  display: none;
  width: 2rem;
  height: 2rem;
  z-index: 2;
}

.traco1,
.traco2,
.traco3 {
  transition: 0.3s ease-in;
  position: relative;
  width: 2rem;
  height: 0.3rem;
  background-color: var(--black);
  margin-top: 2px;
}

.ativo.traco1 {
  transition: 0.3s ease-in;
  transform: rotate(-50deg);
  position: absolute;
}

.ativo.traco2 {
  transition: 0.3s ease-in;
  transform: rotate(50deg);
  position: absolute;
}

.ativo.traco3 {
  transition: 0.3s ease-in;
  display: none;
}

.selected {
  color: var(--black);
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75vh;
  align-items: center;
  justify-content: center;
}

section {
  height: 100%;
  width: 50%;
}

.content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 30px;
}

.content h2,
.content p {
  font-size: 0.875rem;
}

.content h2 {
  text-transform: uppercase;
  font-weight: 300;
  width: 80%;
}

.content h1 {
  font-size: 3.75rem;
  width: 75%;
}

.content p {
  width: 75%;
  font-weight: 700;
  color: var(--cinza);
}

.cta > a {
  font-size: 0.875rem;
  margin-left: 1.5rem;
  color: var(--blue);
}

.cta > a:hover {
  color: #1c84ff;
}

.content .button-22 {
  text-transform: uppercase;
  align-items: center;
  background-color: var(--blue);
  border-radius: 14px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  color: #fff;
  cursor: pointer;
  width: 9em;
  height: 3em;
  padding: 10px 21px;
  text-align: center;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:hover {
  background-color: #1c84ff;
}

.content ul {
  display: flex;
  justify-content: space-around;
}

.content ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--cinza);
  font-size: 0.875rem;
}

svg {
  margin-right: 10px;
}

section > img {
  width: 100%;
}

.switch {
  background-color: var(--cinza-escuro);
  font-size: 17px;
  position: relative;
  width: 3.5em;
  height: 1.6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  z-index: 1;
  padding: 4px;
}

.switch img {
  width: 0.9em;
}

input {
  display: none;
}

.slider {
  content: "";
  background-color: var(--dark-white);
  height: 1em;
  width: 1em;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.5s ease-in;
  z-index: -1;
  transform: translateX(32px);
}

.switch img {
  width: 0.9em;
}

#check:checked ~ .switch .slider {
  transform: translateX(-1px);
}

/*dark theme*/
body.black,
.black .web-mobile {
  color: var(--dark-white);
  background-color: var(--black);
}

.black .selected {
  color: var(--dark-white);
}

.black .traco1,
.black .traco2,
.black .traco3 {
  background-color: var(--dark-white);
}

/* mobile*/

@media (max-width: 1024px) {
  main {
    flex-direction: column-reverse;
    margin-top: 3rem;
    width: 100%;
    height: 100vh;
  }

  section {
    height: 50%;
    width: 100%;
  }

  section > img {
    height: 100%;
    width: 50%;
    transform: translateX(100px);
  }

  .content {
    height: 50%;
    width: 100%;
  }

  .content h1 {
    font-size: 3.75rem;
    width: 85%;
  }
}

@media (max-width: 640px) {
  nav ul {
    display: none;
  }

  main {
    flex-direction: column-reverse;
    height: 140vh;
  }

  .hamburger {
    display: block;
  }

  section {
    width: 100%;
  }

  section > img {
    width: 90vw;
  }

  .content {
    width: 100%;
  }
}
