:root {
  --blue: #2a4dd0;
  --green: #4ca154;
  --black: #111729;
  --cinza-escuro: #223344;
  --cinza: #909193;
  --white: #ffffff;
  --dark-white: #f2f9fe;
  --poppins: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 5em;
  padding: 10px 20px 10px 20px;
}
nav > ul {
  display: flex;

  align-items: center;
  flex-direction: row;
  list-style: none;
}
nav > ul > li {
  padding: 2em;
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: center;
}
section {
  height: 100%;
  width: 50%;
}
.content {
  height: 100%;
  width: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
section > img {
  width: 100%;
}
